[submodule "ir-payment"]
	path = ir-payment
	url = git@github.com:IglooRental/ir-payment.git
[submodule "ir-image-retrieval"]
	path = ir-image-retrieval
	url = git@github.com:IglooRental/ir-image-retrieval.git
[submodule "ir-image-upload"]
	path = ir-image-upload
	url = git@github.com:IglooRental/ir-image-upload.git
[submodule "ir-review"]
	path = ir-review
	url = git@github.com:IglooRental/ir-review.git
[submodule "ir-messaging"]
	path = ir-messaging
	url = git@github.com:IglooRental/ir-messaging.git
[submodule "ir-user"]
	path = ir-user
	url = git@github.com:IglooRental/ir-user.git
[submodule "ir-recommendation"]
	path = ir-recommendation
	url = git@github.com:IglooRental/ir-recommendation.git
[submodule "ir-property-listing"]
	path = ir-property-listing
	url = git@github.com:IglooRental/ir-property-listing.git
[submodule "ir-property-rental"]
	path = ir-property-rental
	url = git@github.com:IglooRental/ir-property-rental.git
[submodule "ir-property-catalogue"]
	path = ir-property-catalogue
	url = git@github.com:IglooRental/ir-property-catalogue.git
[submodule "ir-web"]
	path = ir-web
	url = git@github.com:IglooRental/ir-web.git
